 body {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     /* font-size: 12px; */
     color: #333333;
     background-color: #ffffff;
     margin: 0px;
 }

 .loading2 {
     overflow: hidden;
     position: relative;
 }

 .loading2::after {
     content: "";
     overflow: hidden;
     display: block;
     position: absolute;
     z-index: 99999;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background: rgba( 255, 255, 255, .8) url('../img/spinner.gif') 50% 50% no-repeat;
 }

 body.loading2::after {
     position: fixed;
 }

 .loading2>.loading2msg {
     position: absolute;
     top: 55%;
     width: 100%;
     text-align: center;
     z-index: 9999999;
 }

 body.loading2>.loading2msg {
     position: fixed;
 }
 /* .results
{
  font-size:11px;
}

.results td
{
  padding:5px;
  padding-top:3px;
  padding-left:3px;
  border-bottom:1px solid #EAEAEA #eee;
  font-size: 10pt;
  font-weight: normal;
}
.results th
{
  padding: 10px;
  text-align: left;

  color: #333333 #373737;
  font-size: 10pt;
  border-bottom: 0px solid white;
  font-family: Arial;
} */

 .results th INPUT {
     color: black;
 }

 .results th SELECT {
     color: black;
 }

 .results tr:nth-child(odd) {
     background: white;
 }

 .results tr:nth-child(even) {
     background: #F7F7F7;
 }

 .results2 {
     font-size: 11px;
 }

 .results2 td {
     padding-top: 3px;
     padding-bottom: 3px;
     padding-left: 3px;
     border-bottom: 1px solid #EAEAEA/*#eee*/
     ;
 }

 .results2 th {
     padding: 10px;
     text-align: right;
     background: #F3F3F3;
     /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(left, silver, #F3F3F3);
     /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(left, silver, #F3F3F3);
     /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(left, silver, #F3F3F3);
     /* For Firefox 3.6 to 15 */
     background: linear-gradient(left, silver, #E3E3E3);
     /* Standard syntax */
     /*#D1D1D1*/
     color: #373737/*#373737*/
     ;
     font-size: 8pt;
     border-bottom: 0px solid white;
 }

 .results2 th INPUT {
     color: black;
 }

 .results2 th SELECT {
     color: black;
 }

 .results2 th.resulthead {
     background: silver/*#808080*/
     ;
     color: #373737;
     text-align: left;
     font-size: 10pt;
 }
 /*.results2 th:nth-child(2),.results2 th:nth-child(3),.results2 th:nth-child(4),.results2 th:nth-child(5),.results2 th:nth-child(6),.results2 th:nth-child(7) {
    background: #F3F3F3;
}*/

 .table1 {
     font-size: 11px;
 }

 .table1 th {
     padding: 5px;
     text-align: right;
     background: #F3F3F3;
     /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(left, silver, #F3F3F3);
     /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(left, silver, #F3F3F3);
     /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(left, silver, #F3F3F3);
     /* For Firefox 3.6 to 15 */
     background: linear-gradient(left, silver, #E3E3E3);
     /* Standard syntax */
     /*#D1D1D1*/
     color: #373737;
     font-size: 8pt;
 }

 .table1 td {
     padding-top: 3px;
     padding-bottom: 3px;
     padding-left: 3px;
 }

 .table1 th {
     border-bottom: 2px solid white;
     padding-bottom: 15px;
 }

 .table1 td {
     border-bottom: 2px solid #F3F3F3;
     padding-bottom: 15px;
     font-weight: normal;
 }

 .table1 th:nth-child(2),
 .table1 th:nth-child(3),
 .table1 th:nth-child(4),
 .table1 th:nth-child(5),
 .table1 th:nth-child(6),
 .table1 th:nth-child(7) {
     background: #F3F3F3;
 }

 .table1 th.table1thead {
     background: silver;
     color: #373737;
     text-align: left;
     border: 0px;
     font-size: 10pt;
 }

 .table1bis th {
     padding: 5px;
     text-align: right;
     background: #F3F3F3;
     color: #373737;
     font-size: 8pt;
     text-align: center;
 }

 .table1bis td {
     padding-top: 3px;
     padding-bottom: 3px;
     padding-left: 3px;
     text-align: center;
 }

 .table1bis th {
     border-bottom: 2px solid white;
 }

 .table1bis td {
     border-bottom: 2px solid #F3F3F3;
     font-weight: normal;
 }

 .table1trans {
     font-size: 11px;
 }

 .table1trans th {
     padding: 5px;
     text-align: right;
     background: #F3F3F3;
     /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(left, silver, #F3F3F3);
     /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(left, silver, #F3F3F3);
     /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(left, silver, #F3F3F3);
     /* For Firefox 3.6 to 15 */
     background: linear-gradient(left, silver, #E3E3E3);
     /* Standard syntax */
     /*#D1D1D1*/
     color: #373737;
     font-size: 8pt;
 }

 .table1trans td {
     padding-top: 3px;
     padding-bottom: 3px;
     padding-left: 3px;
 }

 .transtd {
     background: #F3F3F3;
 }

 .table1trans th {
     border-bottom: 2px solid white;
     padding-bottom: 15px;
 }

 .table1trans td {
     border-bottom: 2px solid #F3F3F3;
     padding-bottom: 15px;
     font-weight: normal;
     border-right: 2px solid silver;
     padding-left: 10px;
 }

 .table1trans th:nth-child(2),
 .table1trans th:nth-child(3),
 .table1trans th:nth-child(4),
 .table1trans th:nth-child(5),
 .table1trans th:nth-child(6),
 .table1trans th:nth-child(7) {
     background: #F3F3F3;
 }

 .table1trans th.table1thead {
     background: silver;
     color: #373737;
     text-align: left;
     border: 0px;
     font-size: 10pt;
 }

 table.resultat {
     margin-top: 5px;
     border: 1px solid white;
 }

 .resultat th {
     vertical-align: top;
     background-color: #B0A6A3;
     /*#dcb;*/
     color: #444444;
     font-size: 7pt;
     cursor: pointer;
     padding: 1px 1px 1px 1px;
     font-family: verdana;
     border-bottom: 1px solid white;
     border-right: 1px solid white;
 }

 .resultat td {
     border-bottom: 1px solid #B0A6A3;
     border-right: 1px solid white;
     padding-left: 2px;
     font-size: 9pt;
 }

 .resultat input {
     font-size: 9pt;
 }

 .resultat tr {
     background-color: #F3F4F4;
     /*#bcd;*/
 }

 a.button:LINK,
 a.button:HOVER,
 a.button:VISITED {
     font-size: 9pt;
     padding: 5px;
     padding-left: 15px;
     padding-right: 15px;
     margin: 10px;
     margin-top: 10px;
 }

 a.button:LINK,
 a.button:VISITED {
     background: #4BB4E6;
     font-weight: bold;
     color: white/* #7B7B7B*/
     ;
     text-decoration: none;
     border: 2px solid white;
 }

 a.button:HOVER {
     background: #F5FCFF;
     font-weight: bold;
     color: #1C90C6;
     text-decoration: none;
     border: 2px solid #1C90C6;
 }

 a.buttondel:LINK,
 a.buttondel:HOVER,
 a.buttondel:VISITED {
     font-size: 9pt;
     padding: 5px;
     padding-left: 10px;
     padding-right: 10px;
     margin-top: 5px;
 }

 a.buttondel:LINK,
 a.buttondel:VISITED {
     background: silver;
     font-weight: bold;
     color: white/* #7B7B7B*/
     ;
     text-decoration: none;
     border: 2px solid white;
 }

 a.buttondel:HOVER {
     background: #F1F1F1;
     font-weight: bold;
     color: #1C90C6;
     text-decoration: none;
     border: 2px solid #1C90C6;
 }

 .showTemplate {
     display: block;
 }

 .hideTemplate {
     display: none;
 }

 .seperator {
     border-top: 3px dotted white/*#E3E3E3*/
     ;
     height: 5px;
 }

 .subtit {
     font-size: 18pt;
     font-weight: normal;
     color: #3577B9/*#454545*/
     ;
     padding: 10px;
     padding-bottom: 20px;
     padding-left: 0px;
     vertical-align: bottom;
     border-bottom: 10px solid #ECECEC/*#DBDBDB*/
     ;
     margin-bottom: 10px;
     height: 50px;
     text-align: left;
 }

 a.htpage:LINK,
 a.htpage:HOVER,
 a.htpage:VISITED {
     font-size: 9pt;
     padding: 5px;
     padding-left: 15px;
     padding-right: 15px;
     margin: 10px;
     margin-top: 10px;
     text-align: right;
 }

 a.htpage:LINK,
 a.htpage:VISITED {
     background: #454545;
     font-weight: bold;
     color: white/* #7B7B7B*/
     ;
     text-decoration: none;
     border: 2px solid white;
 }

 a.htpage:HOVER {
     background: white;
     font-weight: bold;
     color: #1C90C6;
     text-decoration: none;
     border: 2px solid #454545;
 }

 .graction {
     background: /*#ECECEC*/
     /*#4BB4E6*/
     ;
     height: 60px;
     margin: 0px;
     padding: 0px;
     width: 100%;
     text-align: left;
     margin-top: 20px;
 }

 .actbut,
 .actbuton {
     font-family: arial, sans-serif;
     font-size: 9pt;
 }

 .actbut {
     background: #4AB5E7;
     color: white/*#4BB4E6*/
     /*#FF7900*/
     ;
     border: 1px solid #4BB4E6;
     padding: 4px;
     padding-left: 20px;
     padding-right: 20px;
     cursor: pointer;
     font-weight: bold;
 }

 .actbuton {
     background: #F5FCFF;
     color: #1C90C6/*#4AB5E7 */
     /*#FF6600*/
     ;
     border: 1px solid #1C90C6;
     padding: 4px;
     padding-left: 20px;
     padding-right: 20px;
     cursor: pointer;
     font-weight: bold;
     -moz-box-shadow: 4px 4px 8px #808080;
     -webkit-box-shadow: 4px 4px 8px #808080;
     /*#aaa*/
     box-shadow: 4px 4px 8px #808080;
     /**/
 }

 .arrondi {
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     border-radius: 10px;
     behavior: url(/PIE.htc);
     border-radius: 5px 5px 5px 5px;
 }

 .invoice_nature_container .semi-transparent30 {
     border: solid #DDD 1px;
     border-radius: 3px;
     height: 100%;
 }

 .invoice_nature_container .genre_childs {
     text-align: left;
 }

 .invoice_nature_container a {
     text-decoration: none;
     font-weight: normal;
 }

 .ui-menu .ui-menu-item-wrapper {
     display: block;
 }
 /* data tables*/

 tbody td.dt-body-right {
     text-align: right;
 }
 /* feather icons*/
.feather{
    width: 14px;
    height: 20px;
    transition: width 0.3s;
}
.sidebar-minimized .nav-link svg.feather {
    width: 50px;
}

/*Required*/
@media (max-width: 576px){
    .modal-dialog.modal-dialog-slideout {
        width: 80%
    }
}

.modal-dialog-slideout {
    min-height: 100%;
    margin: 0 0 0 auto;
    background: #fff;
}

.modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(100%,0);
    transform: translate(100%,0);
}
.modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    flex-flow: column;
}

.modal-dialog-slideout .modal-content{
    border: 0;
}