/*********************************************************	MENU	******************************************************************************/
.form-control{
	height: 28px;
	padding: 0 12px;
}
h1, .h1, h2, .h2, h3, .h3{
	margin-top: 0;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}

/*********************************************************	MENU - FIN	******************************************************************************/

.toolbar{
	border: 1px solid #aaa;
    padding: 15px;
    border-radius: 6px;
    background-color: #eee;
}