/*********************************************************	MENU	******************************************************************************/

ul.topnav {
	list-style: none;
	margin: 0;
	float: left;
	width: 980px;
	background: #222;
	font-size: 1.1em;
	background: #000;
	vertical-align: middle;
}
ul.topnav li {
	float: left;
	font-weight:bold;
	margin: 0;
	padding: 0 3px 0 0;
	position: relative;
}
ul.topnav li a{
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	font-weight:bold;
	color:#FF6600;
}
ul.topnav li span {
	width: 15px;
	height: 35px;
	float: left;
	background: url(/portal/img/subnav_btn.png) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} 
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute;
	left: 0; top: 35px;
	background: #000;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #CCCCCC;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-bottom: 1px solid #CCCCCC;
	clear: both;
	width: 170px;

}
html ul.topnav li ul.subnav li a {
	width: 163px;
	background:  #000 center;
	padding-left: 2px;

}
html ul.topnav li ul.subnav li a:hover { 
	background: white  no-repeat 10px center;
	color:#FF6600;
	font-weight: bold;

}
ul.topnav li ul.subnav li.secondLevel ul.subnav2{
	list-style: none;
	position: absolute;
	left: 170px; top: 0px;
	background: #ACAAAA;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #CCCCCC;

}

/*********************************************************	MENU - FIN	******************************************************************************/
