html {
    /* font-size: 100% !important; */
    line-height: 100% !important;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: HelvNeueOrange, "Helvetica Neue", Helvetica, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #000;
    background-color: #fff;
}

body .portal-cart {
    font-size: 16px !important;
    line-height: 20px;
}

.etn-orange-portal-- .o-form-horizontal .o-control-label {
    text-align: right;
}

.etn-orange-portal-- nav {
    width: auto !important;
    height: auto !important;
    float: none;
    margin: 0;
}

.portal-cart .o-stepbar {
    font-size: 16px;
    line-height: 20;
    margin-bottom: 30px;
}

.portal-cart .o-stepbar .stepbar-item {
    font-size: 1em;
    padding: .625em 1.25em;
    padding-right: 2em;
    font-size: 1em;
}

.portal-cart .o-stepbar .stepbar-item a {
    color: #000;
}

.portal-cart .o-stepbar .stepbar-item.done::after {
    left: -1em;
    width: 1em;
    height: 2.5em;
    background-size: 1em 2.5em;
}

.portal-cart .o-stepbar .stepbar-item.current::after {
    left: -1em;
    width: 1em;
    height: 2.5em;
    background-size: 1em 2.5em;
}

.portal-cart .o-stepbar .stepbar-item.current::after,
.portal-cart .o-stepbar .stepbar-item.done::after,
.portal-cart .o-stepbar .stepbar-item.next::after,
.portal-cart .o-stepbar .stepbar-item::after {
    left: -1em;
    width: 1em;
    height: 2.500em;
    background-size: cover;
}

.o-control-label {
    font-weight: bold !important;
}

.awesomplete {
    flex: 1;
    padding-left: 12px !important;
}

.awesomplete #searchText {
    padding: 8px;
    padding-right: 30px;
    margin-left: 10px;
    height: auto;
}

.etn-orange-portal-- .o-container h1 {
    font-size: 4em;
    margin-top: 40px;
    padding-bottom: 15px;
}


/* Buttons */


/* ///////////////////////// */

.btn {
    padding: .5em 1.125em;
    font-size: 1em;
    font-weight: bold !important;
}

#back_button {
    background-color: transparent;
    padding-right: 0;
}

#back_button2 {
    background-color: transparent;
    padding-right: 0;
    display: none;
}

.portal-cart .btn.btn-primary {
    color: #fff;
    padding: .5rem 1.125rem;
}

.portal-cart .btn-primary:not(:disabled):not(.disabled).active,
.portal-cart .btn-primary:not(:disabled):not(.disabled):active,
.portal-cart .btn-warning:not(:disabled):not(.disabled).active,
.portal-cart .btn-warning:not(:disabled):not(.disabled):active,
.portal-cart .show>.btn-primary.dropdown-toggle,
.portal-cart .show>.btn-warning.dropdown-toggle {
    color: #000 !important;
    border-color: #000 !important;
}


/* Dark Button */

.portal-cart button.btn.btn-dark,
.portal-cart a.btn.btn-dark {
    color: #fff;
}

.portal-cart .btn.btn-dark:hover,
.portal-cart .btn.btn-dark:focus {
    color: #000;
}

.portal-cart .back-btn {
    bottom: 15px;
    position: absolute;
    left: 0;
}


/* Light/Secondary */

.portal-cart .btn-light,
.portal-cart .btn-secondary {
    color: #000 !important;
    background-color: transparent;
    border-color: #000 !important;
}

.portal-cart .btn.btn-secondary {
    padding: .5rem 1.125rem;
}

.portal-cart .btn-secondary:active {
    border: 2px solid #f16e00 !important;
    color: #fff !important;
}

.portal-cart .btn-secondary:hover,
.portal-cart .btn-secondary:focus {
    color: #fff !important;
}

.portal-cart .o-orange_modal {
    position: fixed;
    z-index: 9001;
    display: none;
    height: 400px;
    right: 0;
    top: 140px;
    width: 100%;
}

.portal-cart .o-orange_modal>div {
    width: 100%;
    max-width: 900px;
    display: block;
    margin: 0 auto;
}

.portal-cart .o-orange_modal .o-header.o-black,
.portal-cart .o-orange_modal .o-footer.o-black {
    height: auto;
    padding: 15px;
}

.portal-cart .o-orange_modal .o-content {
    background: white;
    padding: 15px;
    max-height: 300px;
    overflow: auto;
}

.o-overlay {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.o-overlay.o-active {
    display: block;
}

.portal-cart .o-orange_modal.o-active {
    display: block;
}


/* .custom-control {
  min-height: 1.25em !important;
  padding-left: 1.875em !important  ;
  margin-bottom: .625em !important;
}
.custom-control-label::before {
    width: 1.25em;
    height: 1.25em;
    top: 10px;
}
.custom-control-label::after {
    width: 1.25em;
    height: 1.25em;
    background-size: 1em;
    top: 10px;
}  */

.portal-cart .custom-control {
    min-height: 1.25em !important;
    padding-right: 1.875em !important;
    margin-bottom: .625em !important;
}

.portal-cart .custom-control-label::before {
    width: 1.25em;
    height: 1.25em;
}

.portal-cart .custom-control-label::after {
    width: 1.25em;
    height: 1.25em;
    background-size: 1em;
}

.icon-search {
    position: relative;
}

.icon-search:before {
    position: absolute;
    right: 0;
    z-index: 999;
    font-size: 18px;
    padding: 10px;
}

.portal-cart .custom-control-inline {
    margin-left: 1.25rem !important;
}

.portal-cart .o-error .custom-control-label::before {
    border-color: red;
}

.portal-cart .orders .order h2.product-name {
    font-size: 2em;
    text-align: right;
}

.portal-cart .payment-credit .card-number-wrapper input {
    width: 25%;
}

.portal-cart .payment-credit input:focus {
    border-color: #ccc !important;
    border-bottom: 2px solid #f16e00 !important;
}

.portal-cart .payment-credit .card-number-wrapper input+input {
    border-right: none;
}

.portal-cart .payment-credit .card-name-wrapper input {
    width: 50%;
}

.portal-cart .payment-credit .card-name-wrapper input+input {
    border-right: none;
}


/* @media(max-width:768px){
button#submit_button{
        padding: 8px 6px;
    }
    } */

@media(max-width:767px) {
    body {
        padding: 0 !important;
    }
    button#submit_button {
        padding: 8px 6px;
    }
    .portal-cart .orders .order figure {
        padding-left: 0;
    }
    .portal-cart .orders .order h2.product-name {
        font-size: 1.5em;
    }
    .portal-cart .back-btn {
        position: relative;
        bottom: auto;
        margin-bottom: 15px !important;
    }
    .portal-cart .o-purchase-buttons .btn {
        width: 100% !important;
        clear: both;
    }
}

.portal-cart label,
.portal-cart input {
    cursor: pointer;
}

.portal-cart a.back-to-shopping {
    padding: 10px 0;
    margin-bottom: 10px;
    display: inline-block;
    color: #000;
    background-image: url("../img/chevron_left_black.png");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
}

.portal-cart a.back-to-shopping:hover {
    color: #f16e00;
    background-image: url("../img/chevron_left_orange.png");
    text-decoration: none;
}

.portal-cart select {
    width: 100%;
    padding: 7px;
}

.portal-cart button.o-orange-button {
    font-size: 1.5rem;
    line-height: 1em;
    padding: 12.5px 20px;
    background-color: #f16e00;
    color: #fff;
    border: none;
    font-weight: bold;
}

.portal-cart .o-bgt {
    background-color: transparent;
    background: none;
}

.portal-cart .o-alert.o-small {
    padding: 7px;
}

.portal-cart ul {
    padding: 0;
    margin: 0;
}

.portal-cart ul li.order {
    list-style: none;
    border-bottom: 1px solid #aaa;
    padding: 15px 0;
    clear: both;
    overflow: hidden;
    margin-bottom: 15px;
    /* min-height:300px; */
}

.portal-cart ul li.order .product-thumb {
    float: right;
    width: 30%;
    max-width: 110px;
}

.portal-cart ul li.order .product-thumb a {
    display: block;
}

.portal-cart ul li.order .product-thumb a img {
    width: 100%;
    height: auto;
    max-height: 200px;
}

.portal-cart ul li.order .product-information {
    position: relative;
    float: right;
    width: 65%;
    margin-right: 5%;
}

.portal-cart ul li.order .product-information h2.product-name {
    margin: 0;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.portal-cart ul li.order .product-information .product-description li {
    padding-right: 10px;
    position: relative;
}

.portal-cart ul li.order .product-information .product-description li:before {
    content: "";
    position: absolute;
    right: 0;
    top: 8px;
    width: 4px;
    height: 4px;
    background: #000;
    display: block;
}

.portal-cart ul li.order .product-information .order-units {
    margin-bottom: 10px;
}

.portal-cart ul li.order .product-information .order-units input {
    text-align: center;
}

.portal-cart ul li.order .product-information .order-unit-remaining {
    text-align: center;
    display: inline-block;
    padding: 5px;
    border: 1px solid orange;
    margin-top: 5px;
    width: 100%;
    background-color: #FFE8BF;
}

.portal-cart ul li.order .product-information>p {
    line-height: 1.5em;
}

.portal-cart ul li.order .product-information>p span:first-child {
    display: inline-block;
    font-weight: bold;
    width: 70px;
}

.portal-cart ul li.order .product-information>p span:last-child {
    margin-right: 10px;
    font-weight: normal;
}

.portal-cart ul li.order .order-details {
    height: 100%;
}

.portal-cart ul li.order .order-details .order-unit-remaining {
    display: inline-block;
    padding: 5px;
    border: 1px solid orange;
    margin-top: 5px;
    width: 100%;
    background-color: #FFE8BF;
}

.portal-cart ul li.order .order-details>div {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.portal-cart ul li.order .order-details>div:last-child {
    border-bottom: none;
}

.portal-cart ul li.order .order-details .order-unit-count {
    text-align: center;
}

.portal-cart ul li.order .order-details .order-unit-count * {
    margin-bottom: 10px;
}

.portal-cart ul li.order .order-details .order-unit-count input[type="text"] {
    padding: 15px 0;
    text-align: center;
}

.portal-cart ul li.order .order-details .order-unit-count input.date {
    width: 100%;
    padding: 7px;
}

.portal-cart ul li.order .order-details .order-price p {
    padding: 7px;
}

.portal-cart ul li.order .order-details .order-shipping select {
    width: 100%;
    padding: 7px;
}

.portal-cart ul li.order .order-details .order-delivery-time,
.portal-cart ul li.order .order-details .order-processing-time,
.portal-cart ul li.order .order-details .order-shipping-cost {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.9em;
}

.portal-cart ul li.order .order-details .order-shipping-cost {
    color: #f16e00;
    font-size: 1em;
}

.order-product-total {
    font-size: 1.3em;
}

.order-product-totals p *:last-child {
    display: inline-block;
    width: 100px;
}

.portal-cart ul li.order .order-details .order-recurring {
    float: right;
    text-align: right;
}

.portal-cart ul li.order .order-details .order-recurring label {
    padding: 7px;
}

.portal-cart ul li.order .order-details .order-recurring input {
    vertical-align: top;
}

.portal-cart ul li.order .order-details .order-recurring span {
    padding-right: 5px;
}

.portal-cart ul li.order .order-details .buttons {
    margin-top: 15px;
}

.portal-cart ul li.order .order-details .buttons button {
    font-weight: bold;
    border: none;
}

.portal-cart ul.addresses li.address {
    float: right;
    width: 30%;
    margin-left: 3.33%;
    border: 1px solid #aaa;
    padding: 15px;
    margin-bottom: 15px;
}

.portal-cart ul.addresses li.address label input {
    vertical-align: top;
}

.portal-cart ul.addresses li.address i.fa {
    width: 26px;
    display: inline-block;
    padding: 5px;
    color: #f16e00;
    text-align: center;
}

.portal-cart ul.addresses li.address.default {
    border: 2px solid #f16e00;
}

.portal-cart #signup-popup {
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 12000;
}

.portal-cart #signup-popup.active {
    display: block;
}

.portal-cart #signup-popup .o-wrapper {
    position: absolute;
    width: 100%;
    min-height: 80%;
    right: 50%;
    top: 40%;
    margin-right: -400px;
    margin-top: -15%;
    background-color: #fff;
    height: 80%;
    border: 5px solid gray;
    max-width: 800px;
}

.portal-cart #signup-popup .o-wrapper iframe {
    width: 100%;
    height: 100%;
}

.portal-cart #login-popup {
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 12000;
}

.portal-cart #login-popup.active {
    display: block;
}

.portal-cart #login-popup form {
    position: absolute;
    width: 30%;
    min-height: 32%;
    right: 50%;
    top: 50%;
    margin-right: -15%;
    margin-top: -15%;
    background-color: #fff;
    padding: 15px;
    /* border: 5px solid gray; */
}

.portal-cart .order-product-totals {
    margin-bottom: 15px;
}

.portal-cart .custom-quantity-select {
    position: relative;
    width: 78px !important;
    float: left;
    margin-top: 15px !important;
    padding-bottom: 0 !important;
}

.portal-cart .custom-quantity-select select {
    position: relative;
    border: 2px solid #999999;
    width: 100%;
    background: #f6f6f6;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../menu_resources/img/down_select_arrow_black.png);
    background-repeat: no-repeat;
    background-position: 20%;
    height: 30px;
    padding: 0;
    padding-right: 7px;
    font-weight: bold;
}

.portal-cart .custom-quantity-select:after {
    content: " ";
    display: block;
    position: absolute;
    border-left: 2px solid #999;
    height: 100%;
    left: 50%;
    top: 0;
}

.portal-cart .order-product-totals button#buyall,
.portal-cart .order-product-totals label {
    clear: both;
    display: inline-block;
}

.list-square>li,
.std ul:not(.list-unstyled):not(.list-options):not(.list-cases)>li,
.std ol:not(.list-unstyled):not(.list-options):not(.list-cases)>li {
    position: relative;
    padding-right: 1rem;
    line-height: 1.8rem;
    font-size: 1.5rem;
}

.list-square>li::before,
.std ul:not(.list-unstyled):not(.list-options):not(.list-cases)>li::before,
.std ol:not(.list-unstyled):not(.list-options):not(.list-cases)>li::before {
    content: "";
    position: absolute;
    right: 0;
    top: 8px;
    width: 0.2em;
    height: 0.2em;
    background-color: #000;
}

.order-more-infos {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    line-height: 60px;
}

.link {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: normal;
    color: #000 !important;
    text-decoration: underline !important;
}

.portal-cart .order-table ul {
    padding: 10px;
}

.container {
    width: 100% !important;
    max-width: 960px !important;
    padding: 0 10px !important; 
}