/*********************************************************	MENU	******************************************************************************/

.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
#header {
	background: url(logo.non) no-repeat center top;
	padding-top: 120px;
}
#header .disclaimer {
	color: #999;
	padding: 100px 0 7px 0;
	text-align: right;
	display: block;
	position: absolute;
	top: 0; right: 0;
}

ul.topnav {

	list-style: none;
	margin: 0;
	float: left;
	width: 980px;
	background: #222;
	font-size: 1.2em;
	background: url(/dev_forms/img/bla.jpg) repeat-x;
	vertical-align: middle;
}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 3px 0 0;
	position: relative;
}
ul.topnav li a{
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	background: url(/dev_forms/img/orange3.jpg) repeat-x;
}
ul.topnav li span {
	width: 15px;
	height: 35px;
	float: left;
	background: url(/dev_forms/img/subnav_btn.png) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} 
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute;
	left: 0; top: 35px;
	background: #ACAAAA;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #CCCCCC;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-bottom: 1px solid #CCCCCC;
	clear: both;
	width: 170px;

}
html ul.topnav li ul.subnav li a {
	width: 170px;
	background: #ACAAAA center;
	padding-left: 0px;

}
html ul.topnav li ul.subnav li a:hover { 
	background: white  no-repeat 10px center;
	color:#FF6600;
	font-weight: bold;

}
ul.topnav li ul.subnav li.secondLevel ul.subnav2{
	list-style: none;
	position: absolute;
	left: 170px; top: 0px;
	background: #ACAAAA;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #CCCCCC;

}

/*********************************************************	MENU - FIN	******************************************************************************/
