<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 

    <description>
     cim
    </description>
    <display-name>cim</display-name>


	<filter>
		<filter-name>AUTHENTICATE</filter-name>
		<display-name>AUTHENTICATE</display-name>
		<description></description>
		<filter-class>com.etn.servlet.filter.Authenticate</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AUTHENTICATE</filter-name>
		<url-pattern>/pages/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CHECK_SITE_SELECTION</filter-name>
		<display-name>CHECK_SITE_SELECTION</display-name>
		<description></description>
		<filter-class>com.etn.servlet.filter.CheckSiteSelection</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CHECK_SITE_SELECTION</filter-name>
		<url-pattern>/pages/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>XSS</filter-name>
		<display-name>XSS</display-name>
		<description></description>
		<filter-class>com.etn.servlet.filter.XSSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>XSS</filter-name>
		<url-pattern>/pages/*</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/e404.html</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/exception.jsp</location>
	</error-page>

	<session-config>
	       	<session-timeout>300</session-timeout>
	</session-config>    
	
</web-app>
